Cargo.lock
Composer.lock

.DS_Store
.direnv/
/vendor


/makefile
test
stampy
.env

/target/*
!/target/release
!/target/x86_64-apple-darwin
/target/x86_64-apple-darwin/*
!/target/x86_64-apple-darwin/release
/target/x86_64-apple-darwin/release/*
!/target/x86_64-apple-darwin/release/libstampy_php_cli.dylib
/target/release/*
!/target/release/aarch64-unknown-linux-gnu
!/target/release/x86_64-unknown-linux-gnu
!/target/release/libstampy_php_cli.dylib